In [20]:
# Make a calculator(by user input, type casting, +*/, mean, median, mode,avg,%)
# Home Task (use Claud AI TOOLS)
#then push it GitHub (Folder: Mini Project, file name: calculator.py)
# README.md-> write about projects using claude XML formate, manually add
# IDE: Online Python compiler or vs code

In [37]:
# calculator.py
# Mini Project - Advanced Calculator

import statistics

def show_menu():
    print("\n===== Advanced Calculator =====")
    print("1. Addition (+)")
    print("2. Subtraction (-)")
    print("3. Multiplication (*)")
    print("4. Division (/)")
    print("5. Percentage (%)")
    print("6. Average")
    print("7. Median")
    print("8. Mode")
    print("9. Exit")

while True:
    show_menu()
    choice = input("Enter your choice (1-9): ")

    # Basic Arithmetic
    if choice in ['1', '2', '3', '4', '5']:
        a = float(input("Enter first number: "))
        b = float(input("Enter second number: "))

        if choice == '1':
            print("Result:", a + b)
        elif choice == '2':
            print("Result:", a - b)
        elif choice == '3':
            print("Result:", a * b)
        elif choice == '4':
            if b != 0:
                print("Result:", a / b)
            else:
                print("Error! Division by zero.")
        elif choice == '5':
            print("Percentage:", (a / b) * 100)

    # Statistical Functions
    elif choice in ['6', '7', '8']:
        nums = list(map(float, input("Enter numbers separated by space: ").split()))

        if choice == '6':
            print("Average:", sum(nums) / len(nums))
        elif choice == '7':
            print("Median:", statistics.median(nums))
        elif choice == '8':
            try:
                print("Mode:", statistics.mode(nums))
            except:
                print("No unique mode found.")

    elif choice == '9':
        print("Exiting Calculator. Thank You!")
        break

    else:
        print("Invalid choice. Try again.")

===== Advanced Calculator =====
1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)
5. Percentage (%)
6. Average
7. Median
8. Mode
9. Exit

KeyboardInterrupt: Interrupted by user

**Project 2: House Price Prediction (Linear Regression)

Machine Learning: Linear Regression
Python: Numpy, Pandas, Scikit Learn, Matplotlib
Goal: Train a model that predicts house price based on features (rooms, area, etc.)
Dataset: California Housing (available inside sklearn) **

In [21]:
#step 1: Import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [22]:
#step 1: Import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

**Step 2: Load  Dataset from sklearn**
U dont need to download the dataset & wont' need to paste the URL

In [23]:
# create Dataframe for easy understanding
df = pd.DataFrame(data.data, columns=data.feature_names)
df["Price"] = data.target # target (house price)

df.head()

   MedInc  HouseAge  AveRooms  AveBedrms  ...  AveOccup  Latitude  Longitude  Price
0  8.3252      41.0  6.984127   1.023810  ...  2.555556     37.88    -122.23  4.526
1  8.3014      21.0  6.238137   0.971880  ...  2.109842     37.86    -122.22  3.585
2  7.2574      52.0  8.288136   1.073446  ...  2.802260     37.85    -122.24  3.521
3  5.6431      52.0  5.817352   1.073059  ...  2.547945     37.85    -122.25  3.413
4  3.8462      52.0  6.281853   1.081081  ...  2.181467     37.85    -122.25  3.422

[5 rows x 9 columns]

In [24]:
data = fetch_california_housing()

**Step 3: Data understanding**

In [25]:
print("Shape (row, columns):", df.shape)
df.info()
df.describe()

Shape (row, columns): (20640, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
 8   Price       20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

             MedInc      HouseAge  ...     Longitude         Price
count  20640.000000  20640.000000  ...  20640.000000  20640.000000
mean       3.870671     28.639486  ...   -119.569704      2.068558
std        1.899822     12.585558  ...      2.003532      1.153956
min        0.499900      1.000000  ...   -124.350000      0.149990
25%        2.563400     18.000000  ...   -121.800000      1.196000
50%        3.534800     29.000000  ...   -118.490000      1.797000
75%        4.743250     37.000000  ...   -118.010000      2.647250
max       15.000100     52.000000  ...   -114.310000      5.000010

[8 rows x 9 columns]

**step4: Cheack Missing values**

In [26]:
df.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
Price         0
dtype: int64

**Step 5: Select Feature(X) Target(y) **

In [27]:
#X = input features (independent variables)
X = df.drop("Price", axis=1)

#y = Output (dependent variables)
y = df["Price"]

print("x shape:",X.shape)
print("y shape:",y.shape)

x shape: (20640, 8)
y shape: (20640,)

**TStep 6: Train-Test Split (One of most crucial concept in ML**

In [28]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

print("X_train shape:", X_train.shape,y_train.shape)
print("X_test shape:", X_test.shape,y_test.shape)

X_train shape: (16512, 8) (16512,)
X_test shape: (4128, 8) (4128,)

**Step 7: Train Linear Regression Model

In [29]:
# create model object
model = LinearRegression()

# Train(fit) model on training dta
model.fit(X_train, y_train)

print("Model Training Completed")

Model Training Completed

Step 8: Make Predictions

In [39]:
# predict prices for test data
y_pred = model.predict(X_test)

# show first 10 predictions vs actual
comparison = pd.DataFrame({
    "Actual Price": y_test.values[:10],
    "Predicted Price": y_pred[:10]
})

** Step 9: Evaluate Model( RMSE + R2)**

In [ ]:
# Mean Squared Error
mse = mean_squared_error(y_test, y_pred)

# Root Mean Squared Error (RMSE)
rmse = np.sqrt(mse)

# R-squared score
r2 = r2_score(y_test, y_pred)

print("Model Evaluation Results")
print("RMSE:", rmse)
print("R2 Score:", r2)

# RSME: Average prediction error (lower= better)
# R2: how well a model explain data (closer to 1 = better)

**Step 10: Visualization: Actual vs Predicted**

In [ ]:
plt.figure(figsize=(7,5))
plt.scatter(y_test, y_pred)
plt.title("Actual vs Predicted Prices")
plt.xlabel("Actual Prices")
plt.ylabel("Predicted Prices")
plt.show()

# If dots are close to straight diagonal line, model is doing well

**Step 11: Residual Plot(Error Analysis)**

In [ ]:
# residuals = actual = predicted
residulas = y_test - y_pred

plt.figure(figsize=(7,5))
plt.scatter(y_pred, residulas)

plt.axhline(y=0) #zero error line
plt.title("Residual Plot (Predicted vs Error)")
plt.xlabel("Predicted Values")
plt.ylabel("Residuals (Actual-Predicted)")
plt.show()

Step 12: Feature Importance (Coefficients)

In [ ]:
# Linear regression learns weights (coefficients) for each feature
coef_df = pd.DataFrame({
    "Feature": X.columns,
    "Coefficient": model.coef_
}).sort_values(by="Coefficient", ascending=False)

coef_df

# Meaning:
# Positivive Coefficient -> Feature increases price
# Negative Coefficient -> Feature decreases price

**Step 13: Simple Improvement**

WE're using Feature Engineering

In [ ]:
y_log = np.log1p(y)

X_train2, X_test2, y_train2, y_test2 = train_test_split(
    X, y_log, test_size=0.2, random_state=42
)
model12 = LinearRegression()
model12.fit(X_train2, y_train2)

y_pred2 = model12.predict(X_test2)

rmse2= np.sqrt(mean_squared_error(y_test2, y_pred2))
r2_score2 = r2_score(y_test2, y_pred2)

print("After Log transform")
print("RMSE:", rmse2)
print("R2 Score:", r2_score2)

**Step 14: Save Model Outputs**

In [ ]:
# save predictation result as CSV (u should push in your Github)

result_df =  pd.DataFrame({
    "Actual": y_test.values,
    "Predicted": y_pred
})

result_df.to_csv("house_price_prediction.csv", index=False)
print("Saved: house_price_predictions.csv")